    {% extends 'base.html' %}

    {% block content %}
    <div class="w-full h-[calc(100vh-4rem)] flex items-center justify-center">
        <form action="{{ url_for('main.handle_check') }}" method="POST" class="min-w-[75%] flex flex-col items-center justify-center shadow-none rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4 w-full">
                <label class="input input-bordered flex items-center gap-2 dark:bg-woodsmoke-900">
                    <input name="ioc" type="text" class="appearance-none w-full py-2 px-3 text-gray-700 dark:text-gray-100 dark:bg-woodsmoke-900 leading-tight focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="IP address, domain, URL or file hash" required/>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="fill-woodsmoke-950 dark:fill-gray-100 w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
                </label>
            </div>
            <div class="flex items-center justify-between">
                <button class="btn-wide bg-torchred-500 hover:bg-torchred-700 duration-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    MalWatch'It
                </button>
            </div>
        </form>
    </div>
    {% endblock %}