@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui";

.td-class {
    @apply px-4 py-2 last:border-t-0 sm:last:border-t-[1px] first:rounded-bl-none first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:first:rounded-bl-lg sm:first:rounded-tl-lg sm:last:rounded-b-none sm:last:rounded-br-lg sm:last:rounded-tr-lg;
}

.tr-class {
    @apply mb-4 flex flex-col sm:table-row border-b-0;
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 25%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 0.25rem;
}

.skeleton-status {
  border-radius: 9999px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
